body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
  }

#topNav {
    margin-left: 20%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topNavLink {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.2rem 0.2rem;
  }

  #title {
    margin-left: 1rem;
    width: 40%;
    font-size: 2rem;
    font-family: monospace;
}

/* The sidebar menu */
.sideNav {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%; /* Full-height: remove this if you want 'auto' height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1rem;
  width: 25%;
}

#sideNavTitle {
  padding: 1rem 1rem 0rem 1rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

#addProjectButton {
  margin: 2% auto; /* 15% from the top and centered */
  padding: 4%;
}

/* The navigation menu links */
.sideNav a {
  padding: 0rem 1rem 1rem 1rem;
  text-decoration: none;
  font-size: large;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* When you mouse over the navigation links, change their color */
.sideNav a:hover {
  color: #f1f1f1;
  cursor: pointer;
}



/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sideNav {padding-top: 15px;}
  .sideNav a {font-size: 18px;}
}

#taskContainer {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}

#addTaskButton {

  margin: 2% auto; /* 15% from the top and centered */
  padding: 1.5%;
}

.listItem {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* modal box */
/* The Modal (background) */
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  padding-top: 0px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 38px!important;
}

#close::before, close::after {
  display: inline-block;
  content: '\00d7';
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalFormGrid {
  display: grid;
}

.formLabel {
  color: black;
}

.formInput {
  color: black;
}